body {
    background-color: rgb(221, 113, 143);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.contaner {
    background-color: rgb(60, 24, 90);
    height: 600px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(60, 24, 90), 0 0 25px rgb(60, 24, 90);
}

h1 {
    margin-left: 100px;
    font-size: 40px;
    color: white;
}

label {
    font-size: 30px;
    margin-left: 130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: rgb(255, 255, 255);
}

button {
    min-width: 120px;
    min-height: 40px;
    border-radius: 30px;
    border-color: rgb(255, 72, 194);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 72, 194);
    box-shadow: 0 0 5px rgb(255, 72, 194), 0 0 25px rgb(255, 72, 194);
    margin-left: 170px;
    margin-top: 50px;
}

button:hover {
    box-shadow: 0 0 5px rgb(255, 72, 194), 0 0 25px rgb(255, 72, 194), 0 0 50px rgb(255, 72, 194), 0 0 100px rgb(255, 72, 194), 0 0 200px rgb(255, 72, 194);
}

input:hover{
    box-shadow: 0 0 5px rgb(255, 72, 194), 0 0 25px rgb(255, 72, 194), 0 0 50px rgb(255, 72, 194), 0 0 100px rgb(255, 72, 194), 0 0 200px rgb(255, 72, 194);
}

span{
    margin-left: -600;
}